<!doctype html>
<head>
<title>Student Details Page</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='edits.css') }}">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<style>
body{
  background-repeat:no-repeat;
  background-attached:fixed;
  background-size:cover;
  background-image: url('{{url_for('static',filename='img/img2.jpg')}}');
  text-align: center;
}
footer {
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: DarkSalmon;
}
h1{
  text-align: center;
  margin-left: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 25%;
  padding: 8px;
  height: 60px; /* Should be removed. Only for demonstration */
}
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<body>
  <h1><a style="text_align:center; font-family:Book Antiqua;" href = "{{ url_for('homeT') }}"> Student Management System</h1>
<nav>
  <ul>
  <li class="dropdown">
    <a onclick="window.location='/homeT' " class="dropbtn">Home</a>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Student</a>
    <div class="dropdown-content">
      <a href="/StudentSearch">Student Search</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Add Attendance</a>
    <div class="dropdown-content">
      <a href="/AddStudentAttendance">Add Student Attendance</a>
    </div>
  </li>
  <li class="dropdown last">
    <a onclick="window.location='/logout' " class="dropbtn"> Logout </a>
  </li>
</ul>
</nav><br><br>
{%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
{%- endfor %}<br>
<h3>Student Details<h3>
{% if data %}
<div class="row">
  <div class="column"">
    <th>Admission No* :</th>
    <td><input type="number" name= "Admission No" value= "{{ data[0][0] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >   First Name*  :</th>
    <td><input type="text" name= "First Name" value= "{{ data[0][3] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >   Last Name*  :</th>
    <td><input type="text" name= "Last Name" value= "{{ data[0][4] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Class/Section* :</th>
    <td><input type="text" name= "Class/Section" value= "{{ ClassSection }}" disabled ="" /></td>
  </div>
</div>
<div class="row">
  <div class="column">
    <th>Student Email* :</th>
    <td><input type="email" name= "Student Email" value= "{{ data[0][6] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Father's Name* :</th>
    <td><input type="text" name= "Father's Name" value= "{{ data[0][7] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Father's Phone* :</th>
    <td><input type="number" name= "Father's Phone" value= "{{ data[0][10] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Father's Email Address* :</th>
	<td style = "background-color : grey"><a href = "mailto: {{data[0][12]}}">{{ data[0][12] }}</a></td>	
  </div>
</div>
<div class="row">
  <div class="column">
    <th >Student DOB* :</th>
    <td><input type="text" name= "Date of Birth" value= "{{ data[0][9] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th>Mother's Name* :</th>
    <td><input type="text" name= "Mother's Name" value= "{{ data[0][8] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Mother's Phone* :</th>
    <td><input type="number" name= "Mother's Phone" value= "{{ data[0][11] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Mother's Email Address* :</th>
	<td style = "background-color : grey"><a href = "mailto: {{data[0][13]}}">{{ data[0][13] }}</a></td>
  </div>	
</div>
<div class="row">
  <div class="column">
    <th>Home Address* :</th>
    <td><input type="text" name= "Address" value= "{{ data[0][14] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Class Teacher* :</th>
    <td><input type="text" name= "Class Teacher" value= "{{ data[0][15] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Class Teacher Phone* :</th>
    <td><input type="number" name= "Class Teacher Ph" value= "{{ data[0][16] }}" disabled ="" /></td>
  </div>
  <div class="column">
    <th >Class Teacher Email Address* :</th>
    <td><input type="email" name= "Class Teacher Email" value= "{{ data[0][17] }}" disabled ="" /></td>
  </div>
</div>
{% endif %}
<br><br>
{% if data1  %}
<h3>Student Attendance Details<h3>
<table style="border:1px solid black;margin-left:auto;margin-right:auto;" class="pure-table">
    <thead>
            <tr>
               <th>Month</th>
               <th>August</th>
               <th>September</th>
               <th>October</th>
			   <th>November</th>
               <th>December</th>
               <th>January</th>
			   <th>February</th>
               <th>March</th>
               <th>April</th>
            </tr>
    </thead>

    <tbody style="text-align:center">
               <tr class="pure-table-odd">
                  <td>Values</td>
				  <td>{{ data1[0][1] }}</td>
                  <td>{{ data1[0][2] }}</td>
                  <td>{{ data1[0][3] }}</td>
                  <td>{{ data1[0][4] }}</td>
				  <td>{{ data1[0][5] }}</td>
                  <td>{{ data1[0][6] }}</td>
                  <td>{{ data1[0][7] }}</td>
                  <td>{{ data1[0][8] }}</td>
				  <td>{{ data1[0][9] }}</td>
               </tr>
	</tbody>
</table>
{% endif %}
<footer>
  <p>@Copyright of Subash Gupta Karamsetty, Akhil Yarlagadda, Sandeep Mandapati, Raghu Rama Raju Nadimpalli, Harish Eedala.
</footer>
</body>
